In [8]:
%matplotlib inline
import pandas as pd
df = pd.read_csv('raw-data/shares.csv', delimiter = ',')

In [9]:
df.head()

,Date,APPL,GOOG,IBM,MSFT,NVDA,BCS,LYG,HSBC,BAC,ORCL,VOD,CS,BP
0,26/06/2006,8.427143,200.803970,77.150002,22.820000,13.413333,40.672810,38.400002,86.320000,47.459999,14.67,24.616282,52.519531,67.470001
1,27/06/2006,8.204286,199.860107,76.629997,22.860001,12.986667,39.898617,37.880001,85.489998,47.299999,14.50,23.952236,51.132813,66.959999
2,28/06/2006,8.002857,201.742859,76.559998,23.160000,13.706667,40.368664,38.000000,85.680000,47.650002,14.58,24.033785,51.582031,67.970001
3,29/06/2006,8.424286,207.555054,77.589996,23.469999,14.326667,41.953918,39.410000,87.550003,48.599998,14.74,24.744431,53.798828,69.250000
4,30/06/2006,8.181429,208.310150,76.820000,23.299999,14.193334,42.193550,39.470001,88.349998,48.099998,14.49,24.814329,54.677734,69.610001

In [10]:
period = 100
sec='LYG'
df['dailychange%'] = (df[sec]-df[sec].shift(1))/df[sec].shift(1)*100

In [11]:
dfv = df['dailychange%'].rolling(period, win_type ='triang').sum()

In [12]:
maxIndex = dfv.idxmax(axis = 1, skipna = True)

In [13]:
toDate = df.iloc[maxIndex,0]
fromDate = df.iloc[maxIndex-period,0]

In [14]:
print('Most volatile ' + str(period)+'d period is from: ' + str(fromDate) + ' to: '+ str(toDate))

Most volatile 100d period is from: 16/01/2009 to: 11/06/2009

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style='ticks', context='talk')

df['dailychange%'].plot(figsize=(15,5), label='Raw')
df['dailychange%'].rolling(period).mean().plot(label=str(period) +'D MA')
df['dailychange%'].expanding().mean().plot(label='Expanding Average')
df['dailychange%'].ewm(alpha=0.03).mean().plot(label='EWMA($\\alpha=.03$)')

plt.legend(bbox_to_anchor=(1.25, .5))
plt.tight_layout()
plt.ylabel("Close ($)")
sns.despine()